# AegisCyclone Environment Configuration
MAP_API_KEY=your_geoapify_map_api_key_here
NASA_API_KEY=your_nasa_api_key_here
AVIATION_API_KEY=your_aviationstack_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
PORT=8000
